.button {
	display: inline-block;
	text-decoration: none; 
    border-radius: 3px;
	font-size: 12;
}
.button--white { white -succes
	background-color: rgb(250, 245, 245); ovo se ponavlja zato treba u opstem definisati backraund 
	border: 1px solid rgb(238, 230, 230); isto i za border i definisemo sve :redo
	padding: 8px 10px;
}
.button--green {
	background-color: #1ca81c;
	border: 1px solid #1ca81c;
	color: white;
	padding: 8px 10px; on mora u opsti da se atributi ne ponavljaju
}
.button--silver {
	background-color: rgb(245, 237, 237);
	border: 1px solid rgb(245, 236, 236); 
	padding: 8px 10px;
	color: rgb(151, 4, 4); 
}
