$sl-gutter: 1rem;
$sl-gutter-lg: $sl-gutter*2;

$sl-color-darkgrey: #474747;
$sl-color-white: #ffffff;
$sl-color-green: #83D24B;
$sl-color-lightgrey: #ADADAD;
$sl-color-silver: #f0f4f6;
$sl-color-lightgrey: #ADADAD;
$sl-color-lightergrey:   #F6F6F6;

$sl-radius: 1rem;
$sl-radius-lg: $sl-radius*2;

.sl-c-btn {
    display: inline-block;
    padding: $sl-gutter $sl-gutter-lg;
    color: $sl-color-darkgrey;
    font-size: 1rem;
    text-decoration: none;
    vertical-align: middle;
    border-radius: $sl-radius-lg;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }

    &[disabled],
    &.sl-is-disabled {
        cursor: not-allowed;
    }
}

.sl-c-btn--primary {
    color: $sl-color-white;
    background-color: $sl-color-green;

    &:hover,
    &:focus,
    &:active {
        background-color: lighten($sl-color-green, 10%);
    }

    &[disabled],
    &.sl-is-disabled {
        color: $sl-color-white;
        background-color: lighten($sl-color-green, 15%);
        cursor: not-allowed;
        pointer-events: none;
    }

    &.sl-c-btn--ghost {
        color: $sl-color-darkgrey;
        border-color: $sl-color-green;
        background-color: $sl-color-white;

        &:hover,
        &:focus,
        &:active {
            background-color: lighten($sl-color-green, 75%);
        }

        &[disabled],
        &.sl-is-disabled {
            color: $sl-color-lightgrey;
            border-color: $sl-color-green;

            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
            }
        }
    }
}

.sl-c-btn--ghost {
    background-color: transparent;
}

.sl-c-btn--default {
    background-color: $sl-color-silver;
    border-color: $sl-color-lightergrey;
}