.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: $sk-color-blue;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
    color: $sk-color-grey;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    height: 38px;
    letter-spacing: 0.1rem;
    line-height: 38px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

button {
    overflow: visible;
    text-transform: none;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    border-color: $sk-color-lightgrey;
    color: $sk-color-lightblack;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    background-color: $sk-color-lightblue;
    border-color: $sk-color-lightblue;
    color: $sk-color-white;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background-color: $sk-color-lightblue;
    border-color: $sk-color-lightblue;
    color: $sk-color-white;
}

button:hover,
.button:hover {
    margin-bottom: 1rem;
}

.button:hover {
    color: $sk-color-lightblue;
    margin: 0;
}

button:hover,
html:hover input[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button:hover:-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
