/**
 * @name Typography
 * @author Zoran Zlokapa
 */

@font-face {
    font-family: 'sourcesanspro-regular';
    src: url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"),
         url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sourcesanspro-italic';
    src: url("../fonts/sourcesanspro-it-webfont.woff") format("woff"),
         url("../fonts/sourcesanspro-it-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sourcesanspro-bold';
    src: url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"),
         url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'sourcesanspro-regular', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'sourcesanspro-bold', sans-serif;
}

h4,
h5,
h6 {
    font-family: 'sourcesanspro-regular', sans-serif;
}

h1 {
    font-size: 2.57142857rem;
}

h2 {
    font-size: 2.28571459rem;
}

h3 {
    font-size: 1.85714286rem;
}

h4 {
    font-size: 1.42857rem;
}

h5 {
    font-size: 1.28571459rem;
}

h6 {
    font-size: 1.142857rem;
}

small {
    font-size: .85714rem;
}

em {
    font-family: 'sourcesanspro-italic', sans-serif;
}

strong {
    font-family: 'sourcesanspro-bold', sans-serif;
}
