input {
    height: 30px;
    width: 380px;
    left: 25px;
}
label {
    font-family: "Times New Roman", Times, serif;
}
h5 {
    font-size: 16px;
}
.position {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.div--input--definition{
    display: flex;
    justify-content: space-between;
    left: 100px;
    width: auto;
    height: 42px;
    right: 30px;
    z-index:7;
    font-family:"Times New Roman", Times, serif;
    font-size: 16px;
}
.krug {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    border-radius: 50%;
    border: 1px solid transparent;
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
}
.input1--position{
    left: 280px;
    top: 70px;
    width: 180px;
}
.input2--position {
    left: 280px;
    top: 70px;
    height: 60px;
    width: 180px;
}
.input3--position {
    left: 530px;
    top: 70px;
    height: 60px;
    width: 180px;
}
.input4--position {
    left: 30px;
    top: 140px;
    height: 60px;
    width: 180px;
}
.input5--position {
    left: 280px;
    top: 140px;
    height: 60px;
    width: 180px;
}
.input6--position {
    left: 530px;
    top: 140px;
    height: 60px;
    width: 180px;
}
.input--style {
    width: 100px;
    height: 50px;
    border: 1px solid rgb(196, 185, 185);
}
