@font-face {
  font-family: 'roboto-regular';
  src: url("./fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot");
  src: url("./fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff") format("woff"), url("./fonts/roboto/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype"), url("./fonts/roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto-regular-latin';
  src: url("./fonts/roboto/roboto-v15-latin/roboto-v15-latin-regular.eot");
  src: url("./fonts/roboto/roboto-v15-latin/roboto-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto/roboto-v15-latin/roboto-v15-latin-regular.woff") format("woff"), url("./fonts/roboto/roboto-v15-latin/roboto-v15-latin-regular.ttf") format("truetype"), url("./fonts/roboto/roboto-v15-latin/roboto-v15-latin-regular.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto-medium';
  src: url("./fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot");
  src: url("./fonts/roboto/roboto_medium/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto/roboto_medium/Roboto-Medium-webfont.woff") format("woff"), url("./fonts/roboto/roboto_medium/Roboto-Medium-webfont.ttf") format("truetype"), url("./fonts/roboto/roboto_medium/Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'playfair-display-regular';
  src: url("./fonts/playfair-display/PlayfairDisplay-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'playfair-display-black';
  src: url("./fonts/playfair-display/PlayfairDisplay-Black.otf");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100vh; }

body {
  background-color: #ffffff; }

img {
  max-width: 100%; }

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
p:not(:first-child),
ul:not(:first-child),
ol:not(:first-child),
section:not(:first-child) {
  margin-top: 1rem; }

ol,
ul {
  list-style-position: inside; }

a,
button {
  cursor: pointer; }

a {
  color: #0278a4;
  transition: all .25s ease-in-out;
  text-decoration: none; }
  a:hover {
    color: #012e3f; }

button {
  user-select: none; }

/*
 * =Typography
 */
html {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  color: #333333;
  font-family: 'roboto-regular-latin', sans-serif;
  line-height: 1.4;
  background-color: #ffffff; }

strong {
  font-family: 'roboto-medium', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'playfair-display-black', serif; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }
  @media (max-width: 768px) {
    h2 {
      font-size: 3.5rem; } }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2rem; }

p,
ul {
  font-size: 1.1rem; }

small {
  color: #c9c9c9; }

.va-l-site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 5rem;
  box-shadow: 0 0 0.5rem 0 #333333;
  background-color: #0278a4; }
  @media (max-width: 480px) {
    .va-l-site-header {
      flex-direction: column;
      align-items: center;
      height: auto; } }

.va-l-site-logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #ffffff; }
  .va-l-site-logo:hover {
    color: #ffffff; }

.va-l-site-logo__sign,
.va-l-site-logo__title {
  fill: currentColor; }

.va-l-site-logo__sign {
  height: 3rem;
  margin-right: 1rem; }

.va-l-site-logo__title {
  height: 2rem; }

.va-l-site-nav {
  display: flex;
  align-items: stretch;
  font-family: 'roboto-medium', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 480px) {
    .va-l-site-nav {
      width: 100%; } }
  .va-l-site-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem 1rem 1rem;
    color: #ffffff;
    border-bottom: .5rem solid transparent; }
    @media (max-width: 480px) {
      .va-l-site-nav a {
        flex-grow: 1; } }
    .va-l-site-nav a.active, .va-l-site-nav a:active, .va-l-site-nav a:focus, .va-l-site-nav a:hover {
      background-color: #0385b6;
      border-bottom-color: #ffffff; }
    .va-l-site-nav a.va-l-site-link__register {
      border-top: .5rem solid;
      border-top-color: red; }

.va-l-site-content {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto 0 auto; }
  @media (max-width: 1024px) {
    .va-l-site-content {
      flex-direction: column; } }
  @media (max-width: 480px) {
    .va-l-site-content {
      margin-top: 9rem; } }

.va-c-section {
  width: 50%;
  min-height: 100vh;
  padding: 6rem;
  background-color: #ffffff; }
  .va-c-section.va-c-section {
    margin-top: 0; }
  @media (max-width: 1024px) {
    .va-c-section {
      width: 100%;
      min-height: 0;
      padding: 3rem; } }

.va-c-section--hero {
  position: relative;
  width: 100%;
  min-height: 0;
  height: calc(100vh - 5rem);
  padding-bottom: 13rem;
  background: #f3f3f3 url("./images/hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (max-width: 768px) {
    .va-c-section--hero {
      padding: 6rem 3rem 10rem 3rem; } }
  .va-c-section--hero .va-c-section__subtitle {
    max-width: 45rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px #333333; }
  .va-c-section--hero .va-c-scroll-pitch {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    filter: shadow(0 0 0.5rem); }
    .va-c-section--hero .va-c-scroll-pitch:before, .va-c-section--hero .va-c-scroll-pitch:after {
      position: absolute;
      right: 50%;
      bottom: -.5rem;
      transform-origin: 100% 0;
      display: block;
      width: 2rem;
      height: 0;
      border-bottom: 1px solid #ffffff;
      content: ''; }
    .va-c-section--hero .va-c-scroll-pitch:before {
      transform: rotate(45deg); }
    .va-c-section--hero .va-c-scroll-pitch:after {
      transform: rotate(135deg); }

.va-c-btn {
  display: inline-block;
  padding: 1rem;
  color: #333333;
  font-family: 'roboto-medium', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  vertical-align: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  transition: all .25s ease-in-out;
  cursor: pointer; }
  .va-c-btn [disabled], .va-c-btn.va-is-disabled {
    opacity: .7;
    pointer-events: none; }
  .va-c-btn.va-is-loading {
    pointer-events: none; }

.va-c-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden; }

.va-c-icon--lg {
  width: 4rem;
  height: 4rem; }

.va-c-section--va-intro .va-c-btn--wide {
  margin: 0; }

.va-u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.va-c-btn--warning {
  color: #ffffff;
  background-color: #f9b417;
  border-color: #f9b417; }
  .va-c-btn--warning:hover, .va-c-btn--warning:focus, .va-c-btn--warning:active, .va-c-btn--warning.va-is-active {
    color: #ffffff;
    background-color: #fac449;
    border-color: #fac449; }

.va-c-btn--rounded {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 0;
  border-radius: 50%; }

.va-c-logo-rounded {
  flex-direction: column; }

.va-u-no-action {
  pointer-events: none; }

.va-c-btn--primary {
  color: #ffffff;
  background-color: #0278a4;
  border-color: #0278a4; }
  .va-c-btn--primary:hover, .va-c-btn--primary:focus, .va-c-btn--primary:active, .va-c-btn--primary.va-is-active {
    color: #ffffff;
    background-color: #039dd6;
    border-color: #039dd6; }

.va-c-btn--icon {
  display: inline-flex;
  align-items: stretch;
  padding: 0;
  border-width: .2rem; }
  .va-c-btn--icon.va-c-btn--default {
    border-color: #c9c9c9; }
    .va-c-btn--icon.va-c-btn--default:hover {
      color: #333333;
      background-color: #fcfcfc;
      border-color: #c9c9c9; }
  .va-c-btn--icon.va-c-btn--primary {
    color: #0278a4;
    border-color: #0278a4;
    background-color: transparent; }
    .va-c-btn--icon.va-c-btn--primary:hover {
      color: #ffffff;
      background-color: #039dd6;
      border-color: #0278a4; }
    .va-c-btn--icon.va-c-btn--primary .va-c-icon--wrap {
      border-left-color: #0278a4; }
    .va-c-btn--icon.va-c-btn--primary.va-c-btn--attached {
      background-color: #7fd6a2; }
      .va-c-btn--icon.va-c-btn--primary.va-c-btn--attached > span {
        font-size: inherit; }
        .va-c-btn--icon.va-c-btn--primary.va-c-btn--attached > span > p {
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis; }
  .va-c-btn--icon > span {
    justify-content: center;
    align-items: center;
    padding: 1rem; }
    .va-c-btn--icon > span p {
      font-size: inherit;
      white-space: nowrap; }
    .va-c-btn--icon > span:not(.va-c-icon--wrap) {
      flex-grow: 1; }
  .va-c-btn--icon .va-c-icon--wrap {
    border-left: 0.2rem solid #c9c9c9; }

.va-c-btn--wide {
  display: block;
  max-width: 17rem;
  margin-right: auto;
  margin-left: auto; }
  .va-c-btn--wide.va-c-btn--icon {
    display: flex; }

.va-c-section--va-title {
  display: flex;
  justify-content: center;
  align-items: center; }
  .va-c-section--va-title .va-c-section__title {
    max-width: 25rem; }

.va-u-bg-primary {
  background-color: #0278a4; }

.va-u-text-white {
  color: #ffffff; }

.va-c-section__picture {
  padding: 10px;
  width: 450px;
  height: 270px;
  border-radius: 15%; }

.va-c-section-course-application {
  display: flex;
  justify-content: center;
  align-items: center; }
  .va-c-section-course-application > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  @media (max-width: 768px) {
    .va-c-section-course-application .va-c-form-group {
      flex-direction: column; } }
  @media (max-width: 768px) {
    .va-c-section-course-application .va-c-btn:not(:first-child) {
      margin-top: 1rem; } }

.overlay {
  background: #e9e9e9;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5; }

#registration-success {
  display: none; }

.loader-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }

.va-c-section__title {
  max-width: 45rem;
  font-size: 6rem;
  color: #ffffff;
  text-shadow: 1px 1px #333333; }
  @media (max-width: 768px) {
    .va-c-section__title {
      font-size: 2.5rem; } }

.va-c-form-group {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .va-c-form-group > textarea {
    color: #333333;
    font-family: 'roboto-regular-latin', sans-serif;
    line-height: 1.4; }
  .va-c-form-group > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 3em) 0em;
    background-size: 2px 4em;
    background-repeat: no-repeat;
    cursor: pointer; }
  .va-c-form-group .icon-wrap {
    position: absolute;
    right: 16px;
    top: 16px;
    pointer-events: none; }
    .va-c-form-group .icon-wrap svg {
      display: inline-block;
      fill: #969696; }

.va-c-form-control {
  width: 100%;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 0.2rem solid #c9c9c9; }
  .va-c-form-control.form-control-error {
    border: 0.2rem solid #D8000C; }

.va-c-form-status {
  width: 100%;
  padding: 0;
  height: 1.2rem;
  font-size: 0.8rem;
  color: #D8000C;
  background-color: transparent; }

.va-c-form-group {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .va-c-form-group > textarea {
    color: #333333;
    font-family: 'roboto-regular-latin', sans-serif;
    line-height: 1.4; }
  .va-c-form-group > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 3em) 0em;
    background-size: 2px 4em;
    background-repeat: no-repeat;
    cursor: pointer; }
  .va-c-form-group .icon-wrap {
    position: absolute;
    right: 16px;
    top: 16px;
    pointer-events: none; }
    .va-c-form-group .icon-wrap svg {
      display: inline-block;
      fill: #969696; }

.va-c-form-control {
  width: 100%;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 0.2rem solid #c9c9c9; }
  .va-c-form-control.form-control-error {
    border: 0.2rem solid #D8000C; }

.va-c-form-status {
  width: 100%;
  padding: 0;
  height: 1.2rem;
  font-size: 0.8rem;
  color: #D8000C;
  background-color: transparent; }

.va-c-form-group {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .va-c-form-group > textarea {
    color: #333333;
    font-family: 'roboto-regular-latin', sans-serif;
    line-height: 1.4; }
  .va-c-form-group > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 3em) 0em;
    background-size: 2px 4em;
    background-repeat: no-repeat;
    cursor: pointer; }
  .va-c-form-group .icon-wrap {
    position: absolute;
    right: 16px;
    top: 16px;
    pointer-events: none; }
    .va-c-form-group .icon-wrap svg {
      display: inline-block;
      fill: #969696; }

.va-c-course {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 480px) {
    .va-c-course > div {
      margin-top: 1rem; } }

.va-c-course__header {
  text-align: center;
  min-height: 22rem; }

.va-c-btn--success {
  color: #ffffff;
  background-color: #59c986;
  border-color: #59c986; }
  .va-c-btn--success:hover, .va-c-btn--success:focus, .va-c-btn--success:active, .va-c-btn--success.va-is-active {
    color: #ffffff;
    background-color: #7fd6a2;
    border-color: #7fd6a2; }

.va-c-icon--xl {
  width: 5rem;
  height: 5rem; }

@media (min-width: 768px) {
  .va-c-course__body {
    max-width: 75%; } }

.va-c-ul {
  list-style: none;
  font-size: 1rem; }
  .va-c-ul li {
    position: relative;
    margin: 0 0 1rem 2rem; }
    .va-c-ul li:before {
      position: absolute;
      top: .15rem;
      left: -2rem;
      display: block;
      width: 1rem;
      height: 1rem;
      background-color: #c9c9c9;
      border-radius: 50%;
      content: ''; }

.va-c-ul--success li:before {
  background-color: #59c986; }

.va-c-course__footer {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 480px) {
    .va-c-course__footer {
      flex-direction: column; } }
  .va-c-course__footer .va-c-btn:not(:first-child) {
    margin-left: 1rem; }
    @media (max-width: 480px) {
      .va-c-course__footer .va-c-btn:not(:first-child) {
        margin-top: 1rem;
        margin-left: 0; } }
  .va-c-course__footer .va-c-btn--wide {
    display: inline-flex;
    width: 15rem; }

.va-c-btn--default {
  color: #666666; }
  .va-c-btn--default:hover, .va-c-btn--default:focus, .va-c-btn--default:active, .va-c-btn--default.va-is-active {
    color: #1a1a1a;
    background-color: #fcfcfc;
    border-color: #fcfcfc; }

.va-c-ul--warning li:before {
  background-color: #f9b417; }

/*# sourceMappingURL=style.css.map */
