/**
 * @name Animations
 * @author Zoran Zlokapa
 */

.sl-c-animation--rotation {
    animation-name: sl-rotation;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes sl-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes colorload {
    0% {
        opacity: 0;
        transform: rotate(0deg); 
    }

    100% {
        opacity: 1;
        transform: rotate(360deg); 
    } 
}