/**
 * @name Media object
 * @author Zoran Zlokapa
 */

.sl-c-media {
    display: flex;

    &:not(:first-child) {
        margin-top: $sl-gutter;
    }
}

.sl-c-media__object {
    flex: 0 0 auto;
    margin-right: $sl-gutter;
}

.sl-c-media__body {
    flex-grow: 1;

    > p {
        &:not(:first-child) {
            margin-top: $sl-gutter-xs;
        }
    }
}

.sl-c-media-list {
    &:not(:first-child) {
        margin-top: $sl-gutter;
    }
}
