@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    height: auto;
    width: auto;  
    font-family: 'Exo 2', sans-serif; 
    line-height: 1.4;
    color: $bs-color-brand-yellow;
    background-color: $bs-color-brand-blue;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

.styled-button {
    padding: 7px 43px;
    background: $bs-color-brand-blue-dark;
    color: $bs-color-brand-yellow-dark;
    border: 1px solid;
    font-weight: 600;
    border-color: $bs-color-brand-red $bs-color-brand-red $bs-color-brand-yellow-dark $bs-color-brand-yellow-dark;
    text-transform: uppercase;    
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.site-header--logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.site-header--options {
    display: flex;
    align-items: center; 
    padding: 0px 50px;
}

.site-navigation {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
    
    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1rem 1rem 1rem;
        color: $bs-color-brand-yellow;
        border-bottom: .5rem solid transparent;

        &.active,
        &:active,
        &:focus,
        &:hover {
          background-color: $bs-color-brand-blue-dark;
          color: $bs-color-brand-red;
          border-bottom-color: $bs-color-brand-red;
        }
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $bs-color-brand-yellow-dark;
    }

    &.rounded {
        background-color: white;
    }
}

.rounded {
    background-color: $bs-color-brand-yellow-dark;
    border-radius: 10px;
    border: 1px solid blue; 
}

.content-container {
    margin-left: 15px;
    margin-right: 15px;
}

.content-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, calc(1280px / 6.5));
    grid-template-rows: repeat(3, calc(1280px / 6.5));
    grid-gap: 10px;
}

.cell-content {
    border: 1px solid;
    border-color: $bs-color-brand-red $bs-color-brand-red $bs-color-brand-yellow $bs-color-brand-yellow;
    padding: 5px;
    position: relative;

    h2 {
        font-size: 19px;
        letter-spacing: .04em;
        margin-bottom: .3rem;
        text-transform: uppercase;
        line-height: 19px;
    }

    span {
        font-size: 14px;
        color: $bs-color-brand-yellow-light;
        text-transform: uppercase;
    }

    p {
        font-size: .9rem;
        color: $bs-color-brand-yellow-light;
        position: absolute;
        bottom: 0; 
    }
}

.cell-picture {
    border: 1px solid #8B78B5;
    opacity: 0.5;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}