@import "typography";
@import "variables";

html {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    font-family: 'hkgrotesk-regular', sans-serif;    
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: $nc-brand-blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 1.28571429rem;
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.85714286rem;
}

h3 {
    font-size: 1.71428571rem;
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #ebf3fb;
}

.site-header--logo {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.site-navigation {
    display: flex;
    justify-content: center;
    
    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $nc-brand-blue;
        padding: 1.85rem 1.7rem;

        &.active,
        &:active,
        &:focus,
        &:hover {
          color: $nc-brand-blue-light;
        }
    }
    
}

.heading-container {
    max-width: 60vw;
    min-height: 70vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;

    p {
        margin-top: $nc-gutter-md;
    }
}

.related-work--container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95vw;
}

.related-work--list {
    display: flex;
    flex-wrap: wrap;
}

.col--6 {
    flex: 0 0 calc(50%);
    width: calc(50%);
}

.related-work--link {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.71428571rem;
    margin-bottom: $nc-gutter-lg;

    .item-wrap {
        position: relative;
        overflow: hidden;

        img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
            transform: scaleX(1) scaleY(1) scaleZ(1);        
        }
    }
   
    h3 {
        margin-top: $nc-gutter-md;
    }

    &:focus,
    &:hover {
        transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
        opacity: 1;
        transition: border 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;    
    
        img {
            transform-style: preserve-3d;
            transition: transform 300ms;
            transform: scaleX(1.05) scaleY(1.05) scaleZ(1);
        }
    }
}