body {
    font-size: 18px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid #ebf3fb;
}

.site-header--logo {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.site-navigation {
    display: flex;
    justify-content: center;
    font-size: 18px;
    
    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 26px 24px;
        text-decoration-line: none;
        color: #223973;
        font-family: Hkgrotesk,sans-serif;
    }
}