@import "typography";
@import "variables";

html {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    font-family: 'hkgrotesk-regular', sans-serif;    
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: $nc-brand-blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 1.28571429rem;
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.85714286rem;
}

h2 {
    font-size: 2.28rem;
}

h3 {
    font-size: 1.71428571rem;
}

h4 {
    font-size: 1.5rem;
}

blockquote {
    font-size: 1.5rem;
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #ebf3fb;
}

.site-header--logo {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.site-navigation {
    display: flex;
    justify-content: center;
    
    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $nc-brand-blue;
        padding: 1.85rem 1.7rem;

        &.active,
        &:active,
        &:focus,
        &:hover {
          color: $nc-brand-blue-light;
        }
    }
    
}

.heading-container {
    max-width: 60vw;
    min-height: 70vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;

    p {
        margin-top: $nc-gutter-md;
    }
}

.related-work--container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95vw;
}

.related-work--list {
    display: flex;
    flex-wrap: wrap;
}

.col--6 {
    flex: 0 0 calc(50%);
    width: calc(50%);
}

.related-work--link {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.71428571rem;
    margin-bottom: $nc-gutter-lg;

    .item-wrap {
        position: relative;
        overflow: hidden;

        img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
            transform: scaleX(1) scaleY(1) scaleZ(1);        
        }
    }
   
    h3 {
        margin-top: $nc-gutter-md;
    }

    &:focus,
    &:hover {
        transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
        opacity: 1;
        transition: border 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;    
    
        img {
            transform-style: preserve-3d;
            transition: transform 300ms;
            transform: scaleX(1.05) scaleY(1.05) scaleZ(1);
        }
    }
}

.logos-clients {
    padding: 6rem 3rem; 
    min-height: 100vh;
    border-top: 1px solid #d2dae8;
}

.logos-position {
    max-height: 15vh;
    max-width: 51.4vw;
    margin-right: auto;
    margin-left: auto;

    h4 {
        text-align: center;
    }
}

.logo-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $nc-gutter-lg;
    margin-bottom: $nc-gutter-xl;
    max-height: 15vh;
}

.teachers-container {
    display: flex;
    min-width: 84.64vw;
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.teacher-position {
    flex-basis: 33.33%;
}

.text-position {
    padding-right: 1.14rem;
    padding-left: 1.14rem;
    text-align: left;

        blockquote {
            padding: 0;
            margin-top: 1.7rem;
            margin-bottom: 1.7rem;
            line-height: 1.5
        }

        p {
            margin-bottom: 0.28rem;
            line-height: 2.28rem;
            font-weight: 400;
        }     
}

.paragraph-style {
    font-size: 1.14rem;
    color: #6173a1;
     }

.work-together {
    position: relative;
    padding: 6.85rem 2.85rem 7.42rem;
    background-color: #f5f8ff;
    text-align: center;

        img {
            position: absolute;
            left: 50%;
            top: -3.85rem;
            margin-left: -3.85rem;
        }

        p {
            color: #6173a1;
        }

        a {
            display: inline-block;
            background-color: #ef476f;
            color: #fff;
            margin-top: 0.57rem;
            padding: 0.85rem 1.71rem;
            border-radius: 0.28rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
}

.site-footer {
    padding: 1.71rem 2.85rem;
    background-image: url(https://daks2k3a4ib2z.cloudfront.net/59e488207032510001bc5a21/59e488207032510001bc5a56_logo-full-footer.jpg);
    background-position: 50% 100%;
    background-size: 28.71rem;
    background-repeat: no-repeat;
}

.custom-container {
    max-width: 81.42rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-registration {
    display: flex;
    justify-content: space-between; 
    margin-top: 0.58rem;
    font-size: 1rem;

        a {
            border-bottom: 2px solid rgba(34,57,115,.2);
        }
}

.footer-copyright {
    margin-top: 1.14rem;
    text-align: center;
    font-size: 1.14rem;

        a {
            border-bottom: 2px solid rgba(34, 57, 115, 0.2);
        }
}