@font-face {
    font-family: 'theano-modern';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/theano-moders/TheanoModern-Regular.ttf');
}

@font-face {
    font-family: 'chunk';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/chunk/Chunkfive.otf');
}

@font-face {
    font-family: 'share';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/share/Share-Regular.otf');
}
