@font-face {
    font-family: 'theano-modern';
    src: url('../fonts/theano-moders/TheanoModern-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunk';
    src: url('../fonts/chunk/Chunkfive.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'share';
    src: url('../fonts/share/Share-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
