$fr-brand-white: #f4f6f5;
$fr-border-back-black: #000;
$fr-span-yellow: #fff568;

$fr-orange:#f46521;
$fr-lightblue:#6ccbfb;
$fr-green:#36b149;
$fr-lightyellow:#fff669;
$fr-pink:#ec548d;
$fr-li-red:#ef1e23;
$fr-brown:#785336;
$fr-pink-violet:#6b3394;
$fr-dark-yellow:#fbc589;
