$fr-background-color: #f4f6f5;
$fr-black: #000;
$fr-yellow: #fff568;

$fr-orange:#f46521;
$fr-lightblue:#6ccbfb;
$fr-green:#36b149;
$fr-lightyellow:#fff669;
$fr-pink:#ec548d;
$fr-red:#ef1e23;
$fr-brown:#785336;
$fr-grey: #7d7d7d;
$fr-violet:#6b3394;
$fr-darkyellow:#fbc589;
$fr-white: #fff;
