$fr-brand-white: #F4F6F5;
$fr-border-back-black: #000;
$fr-span-yellow: #fff568;

$fr-orange:#F46521;
$fr-lightblue:#6CCBFB;
$fr-green:#36B149;
$fr-lightyellow:#FFF669;
$fr-pink:#EC548D;
$fr-li-red:#EF1E23;
$fr-brown:#785336;
$fr-pink-violet:#6B3394;
$fr-dark-yellow:#FBC589;
