@import "typography";
@import "variables";

html {
    font-size: 14px;
}

body {
    background: $fr-background-color;
    font-family: 'share';
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    float: left;
    height: 100%;
}

.fr-site-content--wrap {
    margin-left: auto;
    margin-right: auto;
    width: 72.88125vw;
}

.fr-section--title {
    font-size: 2rem;
    margin: 3.5714rem 0 0.7142rem;
    padding: 0 0 0 5rem;
    position: relative;

    span {
        background: $fr-black;
        border-radius: 2.1428rem;
        color: $fr-white;
        height: 3.4285rem;
        left: 0;
        padding: 0.8571rem 0 0;
        position: absolute;
        text-align: center;
        top: -0.7857rem;
        width: 4.2857rem;
    }
}

.fr-site-header {
    border-bottom: solid 1px $fr-black;
    display: flex;
    font-family: 'chunk';
    height: 30.5vh;
    justify-content: space-between;

    .logo {
        background: $fr-black;
        border-radius: 5.35rem;
        float: left;
        font-weight: lighter;
        height: 10.71rem;
        margin: 1.78rem 0 0;
        position: relative;
        width: 10.71rem;

        span {
            background: $fr-yellow;
            border-radius: 2.14rem;
            font-family: ShareRegular, sans-serif;
            font-size: 2rem;
            height: 3.42rem;
            left: 3.214rem;
            padding: 0.85rem 0 0 0.83rem;
            position: absolute;
            top: 3.214rem;
            width: 3.571rem;
        }
    }

    .title {
        float: right;
        font-family: 'chunk';
        font-size: 2.8285rem;
        font-weight: lighter;
        margin: 4.285rem 0 0;
    }
}

.fr-section {
    border-bottom: solid 1px $fr-black;
    padding: 1.428rem 0 2.142rem;

    &.fr-section--intro p {
        column-gap: 3.214rem;
        column-rule: 1px solid $fr-black;
        column-width: 32.8571rem;
        width: 69.2857rem;
    }

    &.fr-section--numbered {
        float: left;
        width: 100%;
    }
}

.fr-genres {
    .diagram {
        height: 23.6456vh;
        margin: 2.5rem 0 0;

        li:nth-of-type(1) {
            background: $fr-orange;
            width: 32.9%;
        }

        li:nth-of-type(2) {
            background: $fr-lightblue;
            width: 15.2%;
        }

        li:nth-of-type(3) {
            background: $fr-green;
            width: 13.1%;
        }

        li:nth-of-type(4) {
            background: $fr-lightyellow;
            width: 10.1%;
        }

        li:nth-of-type(5) {
            background: $fr-pink;
            width: 6.6%;
        }

        li:nth-of-type(6) {
            background: $fr-red;
            width: 6%;
        }

        li:nth-of-type(7) {
            background: $fr-brown;
            width: 6%;
        }

        li:nth-of-type(8) {
            background: $fr-violet;
            width: 5%;
        }

        li:nth-of-type(9) {
            background: $fr-darkyellow;
            width: 4.5%;
        }
    }

    .legend {
        font-size: 1.2927rem;
        margin: 30px 0 50px;

        .genre {
            margin: 0 2.1428rem 1.4285rem 0;
            padding: 0.2142rem 0 0 2.8571rem;
            position: relative;

            span {
                -webkit-border-radius: 1.0714rem;
                height: 25px;
                left: 0;
                position: absolute;
                top: 0;
                width: 25px;

                &.funk {
                    background: $fr-orange;
                }

                &.soul-rnb {
                    background: $fr-lightblue;
                }

                &.reggae-ska {
                    background: $fr-green;
                }

                &.northern-soul {
                    background: $fr-lightyellow;
                }

                &.mod-beat-psych {
                    background: $fr-pink;
                }

                &.jazz {
                    background: $fr-red;
                }

                &.latin-boogaloo {
                    background: $fr-brown;
                }

                &.motown {
                    background: $fr-violet;
                }

                &.rocking-rnb {
                    background: $fr-darkyellow;
                }
            }
        }
    }
}

.fr-country-origin {
    float: left;
    margin: 2.5rem 0 3.5714rem;
    width: 100%;

    .country {
        clear: both;
        height: 8.13vh;
        margin: 0 0 0.7142rem;
        position: relative;

        p {
            font-size: 1.1428rem;
            left: 100%;
            margin-left: 1.4285rem;
            position: absolute;
            top: 1.4285rem;
        }

        &.usa {
            background: $fr-orange;
            width: 73.2%;
        }

        &.jamaica {
            background: $fr-lightblue;
            width: 13.1%;
        }

        &.uk {
            background: $fr-green;
            width: 8.6%;
        }

        &.france {
            background: $fr-lightyellow;
            width: 2.1%;
        }

        &.brazil {
            background: $fr-pink;
            width: 1.5%;
        }

        &.sweden {
            background: $fr-red;
            width: 0.5%;
        }

        &.columbia {
            background: $fr-brown;
            width: 0.5%;
        }

        &.egipt {
            background: $fr-violet;
            width: 0.5%;
        }
    }
}

.fr-trianges {
    float: left;
    height: 50.51vh;
    margin: 35px 0 50px;
    position: relative;
    width: 100%;

    .triangle {
        border-style: solid;
        display: inline;
        position: absolute;
        top: 50%;

        &.yellow {
            border-color: $fr-lightyellow transparent transparent;
            border-width: 14.78rem;
            top: 0;
        }

        &.lightblue {
            border-color: $fr-lightblue transparent transparent;
            border-width: 10.64rem;
            left: 14.07rem;
            margin-top: -10.64rem;
        }

        &.white {
            border-color: $fr-white transparent transparent;
            border-width: 10.64rem;
            left: 24.71rem;
            margin-top: -10.64rem;
        }

        &.black {
            border-color: $fr-black transparent transparent;
            border-width: 8.78rem;
            left: 35.35rem;
            margin-top: -8.78rem;
        }

        &.orange {
            border-color: $fr-orange transparent transparent;
            border-width: 8.14rem;
            left: 44.14rem;
            margin-top: -8.14rem;
        }

        &.red {
            border-color: $fr-red transparent transparent;
            border-width: 7.42rem;
            left: 52.28rem;
            margin-top: -7.42rem;
        }

        &.green {
            border-color: $fr-green transparent transparent;
            border-width: 3.57rem;
            left: 60.42rem;
            margin-top: -3.57rem;
        }

        &.pink {
            border-color: $fr-pink transparent transparent;
            border-width: 3.14rem;
            left: 63.28rem;
            margin-top: -3.14rem;
        }

        &.grey {
            border-color: $fr-grey transparent transparent;
            border-width: 1.07rem;
            left: 66.42rem;
            margin-top: -1.07rem;
        }

        &.violet {
            border-color: $fr-violet transparent transparent;
            border-width: 0.71rem;
            left: 67.5rem;
            margin-top: -0.71rem;
        }

        &.brown {
            border-color: $fr-brown transparent transparent;
            border-width: 0.71rem;
            left: 68.21rem;
            margin-top: -0.71rem;
        }
    }
}

.fr-decades {
    float: left;
    height: 556px;
    margin: 2.5rem 0 3.57rem;
    position: relative;
    width: 100%;

    .cirkle {
        font-size: 4rem;
        position: absolute;
        text-align: center;
        top: 0;

        &.cirkle-small-size {
            background: $fr-orange;
            border-radius: 1.64rem;
            font-size: 0.8rem;
            height: 33px;
            left: 66rem;
            padding: 0.92rem 0 0;
            width: 46px;
        }

        &.cirkle-large-size {
            background: $fr-lightblue;
            border-radius: 19.85rem;
            height: 320px;
            left: 0;
            padding: 15.71rem 0 0;
            width: 556px;
        }

        &.cirkle-medium-size {
            background: $fr-green;
            border-radius: 13.5rem;
            height: 238px;
            left: 39.71rem;
            padding: 9.28rem 0 0;
            width: 378px;
        }
    }
}

.oldest {
    border-top: dashed 1px $fr-black;
    float: left;
    margin: 10.71rem 0 10rem;
    position: relative;
    width: 100%;

    .oldest-cirkle {
        border-radius: 7.14rem;
        font-size: 3.45rem;
        height: 140px;
        padding: 4.28rem 0 0;
        position: absolute;
        text-align: center;
        top: -100px;
        width: 200px;

        &.pink-cirkle {
            background: $fr-pink;
        }

        &.yellow-cirkle {
            background: $fr-lightyellow;
            right: 0;
        }
    }
}

.newest {
    float: left;
    margin: 2.85rem 0;
    position: relative;

    .newest-cirkle {
        clear: both;
        font-size: 1.14rem;
        margin: 0.71rem 0;
        padding: 0.35rem 0 0 2.85rem;
        position: relative;
    }

    .cirkles {
        -webkit-border-radius: 15px;
        height: 30px;
        left: 0;
        position: absolute;
        top: 0;
        width: 30px;

        &.newest-pink-cirkle {
            background: $fr-pink;
        }

        &.newest-yellow-cirkle {
            background: $fr-lightyellow;
        }
    }
}
