@import "typography";
@import "variables";

html {
    font-size: 14px;
}

body {
    font-family: 'share';
    background: $fr-brand-white;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 72.88125vw;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 30.5vh;
    font-family: 'chunk';
    border-bottom: solid 1px $fr-border-back-black;
}

.site-header-logo {
    width: 10.71rem;
    height: 10.71rem;
    background: $fr-border-back-black;
    border-radius: 5.35rem;
    margin: 1.78rem 0 0 0;
    float: left;
    position: relative;
    font-weight: lighter;

    span {
        padding: 0.85rem 0 0 0.83rem;
        width: 3.571rem;
        height: 3.42rem;
        background: $fr-span-yellow;
        border-radius: 2.14rem;
        position: absolute;
        top: 3.214rem;
        left: 3.214rem;
        font-family: ShareRegular, sans-serif;
        font-size: 2rem;
    }
}

.site-header-text {
    float: right;
    margin: 4.285rem 0 0 0;
    font-family: 'chunk';
    margin: 4.2857rem 0 0 0;
    font-size: 2.8285rem;
    font-weight: lighter;
}

.first-section {
    padding: 1.428rem 0 2.142rem 0;
    border-bottom: solid 1px $fr-border-back-black;

    p {
        align-items: center;
        width: 69.2857rem;
        column-width: 32.8571rem;
        column-gap: 3.214rem;
        column-rule: 1px solid $fr-border-back-black;
    }
}

