@import "typography";
@import "variables";

html {
    font-size: 14px;
}

body {
    font-family: 'share';
    background: $fr-brand-white;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    height:100%;
    float:left;
}

.wrapper {
    width: 72.88125vw;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 30.5vh;
    font-family: 'chunk';
    border-bottom: solid 1px $fr-border-back-black;
}

.site-header-logo {
    width: 10.71rem;
    height: 10.71rem;
    background: $fr-border-back-black;
    border-radius: 5.35rem;
    margin: 1.78rem 0 0 0;
    float: left;
    position: relative;
    font-weight: lighter;

    span {
        padding: 0.85rem 0 0 0.83rem;
        width: 3.571rem;
        height: 3.42rem;
        background: $fr-span-yellow;
        border-radius: 2.14rem;
        position: absolute;
        top: 3.214rem;
        left: 3.214rem;
        font-family: ShareRegular, sans-serif;
        font-size: 2rem;
    }
}

.site-header-text {
    float: right;
    margin: 4.285rem 0 0 0;
    font-family: 'chunk';
    margin: 4.2857rem 0 0 0;
    font-size: 2.8285rem;
    font-weight: lighter;
}

.first-section {
    padding: 1.428rem 0 2.142rem 0;
    border-bottom: solid 1px $fr-border-back-black;

    p {
        width: 69.2857rem;
        column-width: 32.8571rem;
        column-gap: 3.214rem;
        column-rule: 1px solid $fr-border-back-black;
    }
}

.section-wrapper {
    float: left;
    padding: 1.4285rem 0 2.1428rem 0;
    border-bottom: solid 1px $fr-border-back-black;
    width: 100%;
}

.section-heading-text {
    font-size: 2rem;
    position: relative;
    padding: 0 0 0 5rem;
    margin: 3.5714rem 0 0.7142rem 0;

    span {
        padding: 0.8571rem 0 0 0;
        width: 4.2857rem;
        height: 3.4285rem;
        background: $fr-border-back-black;
        color: $fr-brand-white;
        border-radius: 2.1428rem;
        text-align: center;
        position: absolute;
        left: 0px;
        top: -0.7857rem;
    }
}

.second-section-list {
    height: 23.6456vh;
    margin: 2.5rem 0 0 0;

    li:nth-of-type(1) {
        width:32.9%;
        background:$fr-orange;
    }
    
    li:nth-of-type(2) {
        width:15.2%;
        background:$fr-lightblue;
    }

    li:nth-of-type(3) {
        width:13.1%;
        background:$fr-green;
    }

    li:nth-of-type(4) {
        width:10.1%;
        background:$fr-lightyellow;
    }

    li:nth-of-type(5) {
        width:6.6%;
        background:$fr-pink;
    }

    li:nth-of-type(6) {
        width:6%;
        background:$fr-li-red;
    }

    li:nth-of-type(7) {
        width:6%;
        background:$fr-brown;
    }

    li:nth-of-type(8) {
        width:5%;
        background:$fr-pink-violet;
    }

    li:nth-of-type(9) {
        width:4.5%;
        background:$fr-dark-yellow;
    }
}

.second-section-second-list {
    margin: 30px 0 50px 0;
    font-size: 1.2927rem;
}

.second-section-list-description {
    padding: 0.2142rem 0 0 2.8571rem;
    position: relative;
    margin: 0 2.1428rem 1.4285rem 0;
}

.second-section-list-round {
    width: 2.34375vw;
    height: 4.75vh;
    -webkit-border-radius: 1.0714rem;
    position: absolute;
    left: 0px;
    top: 0px;
}

.list-color-orange {
    background: $fr-orange;
}

.list-color-lightblue {
    background: $fr-lightblue;
}

.list-color-green {
    background: $fr-green;
}

.list-color-lightyellow {
    background: $fr-lightyellow;
}

.list-color-pink {
    background: $fr-pink;
}

.list-color-li-red {
    background: $fr-li-red;
}

.list-color-brown {
    background: $fr-brown;
}

.list-color-pink-violet {
    background: $fr-pink-violet; 
}

.list-color-dark-yellow {
    background: $fr-dark-yellow;
}

.third-section-list {
    float: left;
    margin: 2.5rem 0 3.5714rem 0;
    width: 100%
}

.third-section-list-description {
    height: 8.1300vh;
    clear: both;
    position: relative;
    margin: 0 0 0.7142rem 0;

    span {
        position: absolute;
        top: 1.4285rem;
        left: 100%;
        margin-left: 1.4285rem;
        font-size: 1.1428rem;
    }
}

.thr-sec-list-usa {
    width: 73.2%;
    background: $fr-orange;
}

.thr-sec-list-jamaica {
    width: 13.1%;
    background: $fr-lightblue;
}

.thr-sec-list-uk {
    width: 8.6%;
    background: $fr-green;
}

.thr-sec-list-france {
    width: 2.1%;
    background: $fr-lightyellow;
}

.thr-sec-list-brazil {
    width: 1.5%;
    background: $fr-pink;
}

.thr-sec-list-sweden {
    width: 0.5%;
    background: $fr-li-red;
}

.thr-sec-list-columbia {
    width: 0.5%;
    background: $fr-brown; 
}

.thr-sec-list-egipt {
    width: 0.5%;
    background: $fr-pink-violet;
}



